.todoItem {
	background-color: gray;
}

input, input:focus {
	border: none;
	box-shadow: none;
	outline-style: none;
	background: transparent;
	display: block;
	width: 90%;
	height: 50px;
	font-size: 18pt;
	padding: 0 5%;
	line-height: 50px;
}

::placeholder {
	color: black;
}